*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    background-color: #181818;
    color: #ffffff;
  }
  
  header{
    background-color: #202020;
    display: flex;
  }
  
  header button{
    background: none;
    color: #d1d3e2;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  .search{
    width: 85%;
    font-size: 20px;
    border-color: #4e73df;
    background-color: #f8f9fc;
    outline-width: 10px;
    outline-color:  #4e73df;
    border: none;
    border-radius: 10px;
    padding: 5px;
  
  }
  .search-container{
    background-color: #202020;
    outline-style: dashed;
    outline-color: #818181;
    width: 90%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    
  }
  .none{
    display: none;
  }
.name{
    margin: auto;
}
.nobackground{
    background: none; border: none;
}

/*----- grids ------*/

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212121;
    padding: 10px;
  }

  .grid-item {
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
.grid-item img{
    height: 50px;
    width: 50px;
    filter: invert(100%);

}
.mgt{
    margin-top: 10px;
}

.g-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 900px;
    margin: auto;
}
.g-item {
    padding: 1px;
    font-size: large;
}
.g-container img{
    width: 100%;
}

.center{
    text-align: center;
    justify-content: center;
  }



@media only screen and (min-width: 800px) {
.g-item {
    font-size: large;
}}

/*-----*/
.animation{
  animation-duration: 0.25s;
  animation-name: createBox;

}
@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.vidbox{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 0;
}
.vidbox iframe{
  position: absolute;
width: 100%;
height: 100%;
max-width: 800px;
max-height: 600px;
margin-top: 5px;

}